* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
    /* position: fixed; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}



a {
    color: inherit;
    text-decoration: none;
}




.recent-news{
    width: 350px;
    height: 1150px;
}

/* .article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
} */
.article1 {
    background-image: url(../images/article1image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-shrink: 0;
}
.article2 {
    background-image: url(../images/article2image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-shrink: 0;
}
.article3 {
    background-image: url(../images/article3image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-shrink: 0;
}

.date-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    background: rgba(255, 255, 255, 0.83);
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.article-date {
    width: 33px;
    height: 40px;
    margin: 0;
    text-align: center;
    

}


.day {
    font-size: 24px;
    font-family: 'Inter';
    line-height: normal;
}
.month {
    font-size: 12px;
    line-height: normal;
}

.article-title {
    font-size: 14px;
    width: 296px;

}

.article-link {
    font-family: 'Dosis';
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 5px;
}

.line {
    width: 22px;
    height: 1px;
    background-color: black;
}

.link-style {
    display: flex;
    align-items: center;
}

.link-style:hover {
    cursor: pointer;
    text-decoration: none;
    color: blue;

}



