*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(1,1fr); 
    grid-template-rows:repeat(9,minmax(150px,auto)); 
    gap: 40px;
    margin:30px;
}

.grid-item{
    position: relative; 
    display: inline-block; 
}

.grid-item img {
    width: 95%;
    height: 95%;
    object-fit: cover; 
}

   .product {
    position: absolute;
    top: 70px;
    left: 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    line-height: 20px;
    width: 180px;
    word-wrap: break-word;  
    text-align: center;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');


@media (min-width:400px) {
    .product {
        top: 110px;
        left: 80px;
    }

}

@media (min-width:650px) {
    .grid-container {
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows:repeat(4,minmax(150px,auto)); 
    }    

    .product{
        top:50px;
        left:45px;
        font-size: 15px;
        width: 110px;
    }
}

@media (min-width:900px) {
    .grid-container {
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows:repeat(2,minmax(150px,auto)); 
    }    
}

@media (min-width:2500px) {
    .grid-container {
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows:repeat(2,minmax(150px,auto)); 
    }    
    .product{
        top:195px;
        left:140px;
        font-size: 40px;
        width: 400px;
        line-height: 50px;
    }

}
