*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 900px) {
.products {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.products-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows:repeat(9,minmax(150px,auto)); 
    gap: 28px;
    margin:30px;
}

.grid-item{
    position: relative; 
    display: inline-block; 
}

.grid-item-a {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/christopher\ knight\ furniture.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-b {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/wheat\ straw\ unbreakable\ cup.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color:rgba(52, 48, 48, 0.50);
    z-index: 50;
}


.product{
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    z-index: 100;
    
}

.product_name {
    margin-bottom: 18px;
}

}

/* .grid-item img {
    width: 95%;
    height: 95%;
    object-fit: cover; 
} */

   /* .product {
    position: absolute;
    top: 70px;
    left: 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    line-height: 20px;
    width: 180px;
    word-wrap: break-word;  
    text-align: center;
    z-index: 2;
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');


/* @media (min-width:400px) {
    .product {
        top: 110px;
        left: 80px;
    }

}

@media (min-width:650px) {
    .grid-container {
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows:repeat(4,minmax(150px,auto)); 
    }    

    .product{
        top:50px;
        left:45px;
        font-size: 15px;
        width: 110px;
    }
} */

/* @media (min-width:900px) {
    .grid-container {
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows:repeat(2,minmax(150px,auto)); 
    }    
} */

/* @media (min-width:2500px) {
    .grid-container {
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows:repeat(2,minmax(150px,auto)); 
    }    
    .product{
        top:195px;
        left:140px;
        font-size: 40px;
        width: 400px;
        line-height: 50px;
    }

} */
