*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 900px) {
.products {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 37px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.products h1 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
.products-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr); 
    /* grid-template-rows:repeat(9,minmax(150px,auto));  */
    gap: 28px;
    align-items: center;
    justify-content: center;
    /* margin:30px; */
}

.grid-item{
    position: relative; 
    display: inline-block; 
}

.grid-item-a {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/christopher\ knight\ furniture.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-b {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/wheat\ straw\ unbreakable\ cup.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-c {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/adidas\ classic\ bag.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-d {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/desk\ pencil-pencil\ holder.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-e {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/ripple\ creak\ key\ holder.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-f {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/economical\ cotton\ canvas.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-g {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/michael\ kors\ original.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.grid-item-h {
    width: 280px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/bostanten\ women\ leather.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color:rgba(52, 48, 48, 0.50);
    z-index: 50;
}


.product{
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    z-index: 100;
    
}

.product_name {
    margin-bottom: 18px;
}

}

/* Tablet styling */

@media screen and (min-width:600px) and (max-width: 899px) {
    .products-grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr); 
        /* grid-template-rows:repeat(9,minmax(150px,auto));  */
        gap: 17px;
        align-items: center;
        justify-content: center;
        /* margin:30px; */
        padding-left: 20px;
    }

    .best-products{
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 220px;
        height: 220px;
        background-color:rgba(52, 48, 48, 0.50);
        z-index: 50;
    }
    
    
    .product{
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        z-index: 100;
        
    }
    
    .product_name {
        margin-bottom: 18px;
    }

    .grid-item{
        position: relative; 
        display: inline-block; 
    }
    
    .grid-item-a {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/christopher\ knight\ furniture.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-b {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/wheat\ straw\ unbreakable\ cup.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-c {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/adidas\ classic\ bag.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-d {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/desk\ pencil-pencil\ holder.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-e {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/ripple\ creak\ key\ holder.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-f {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/economical\ cotton\ canvas.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-g {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/michael\ kors\ original.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-h {
        width: 220px;
        height: 220px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/bostanten\ women\ leather.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    
    
    
}

@media only screen and (max-width :599px) {
    .products-grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr); 
        /* grid-template-rows:repeat(9,minmax(150px,auto));  */
        gap: 17px;
        align-items: center;
        justify-content: center;
        /* margin:30px; */
        padding-left: 12px;
    }

    .best-products{
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 350px;
        background-color:rgba(52, 48, 48, 0.50);
        z-index: 50;
    }
    
    
    .product{
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        z-index: 100;
        
    }
    
    .product_name {
        margin-bottom: 18px;
    }

    .grid-item{
        position: relative; 
        display: inline-block; 
    }
    
    .grid-item-a {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/christopher\ knight\ furniture.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-b {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/wheat\ straw\ unbreakable\ cup.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-c {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/adidas\ classic\ bag.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-d {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/desk\ pencil-pencil\ holder.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-e {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/ripple\ creak\ key\ holder.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-f {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/economical\ cotton\ canvas.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-g {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/michael\ kors\ original.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
    .grid-item-h {
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url(../images/bostanten\ women\ leather.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    
    }
}

/* Mobile Styling */



/* .grid-item img {
    width: 95%;
    height: 95%;
    object-fit: cover; 
} */

   /* .product {
    position: absolute;
    top: 70px;
    left: 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    line-height: 20px;
    width: 180px;
    word-wrap: break-word;  
    text-align: center;
    z-index: 2;
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');


/* @media (min-width:400px) {
    .product {
        top: 110px;
        left: 80px;
    }

}

@media (min-width:650px) {
    .grid-container {
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows:repeat(4,minmax(150px,auto)); 
    }    

    .product{
        top:50px;
        left:45px;
        font-size: 15px;
        width: 110px;
    }
} */

/* @media (min-width:900px) {
    .grid-container {
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows:repeat(2,minmax(150px,auto)); 
    }    
} */

/* @media (min-width:2500px) {
    .grid-container {
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows:repeat(2,minmax(150px,auto)); 
    }    
    .product{
        top:195px;
        left:140px;
        font-size: 40px;
        width: 400px;
        line-height: 50px;
    }

} */
